In [516]:
%config IPCompleter.greedy=True

In [48]:
#General look and clean up of data set


import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

ted_data = pd.read_csv("all_with_liwc_segmented - workbook edit.csv")
ted_data = ted_data.rename({'word_count':'WC', 'time': 'time_var', 'Period': 'Period_words', 'power': 'power_words', 'money':'money_words', 'space':'space_var', 'index': 'talk_id', 'languages': 'talk_languages', 'comments': 'comment_num', 'event':'talk_event', 'views': 'view_count', "function": "function_words"}, axis=1)
ted_data.head()

,Unnamed: 0,talk_id,comment_num,description,duration,talk_event,film_date,talk_languages,main_speaker,name,...,affect_change_h,posemo_change_q,negemo_change_q,affect_change_q,published_year,Harm,Fairness,Purity,Ingroup,Authority
0,0,0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,...,0.57,-1.53,0.25,-1.78,2006,0.00,0.00,0.03,0.03,0.41
1,1,1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,...,-2.19,-4.43,1.10,-5.53,2006,0.00,0.00,0.00,0.55,0.41
2,2,2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,...,-0.05,-0.09,0.39,-0.48,2006,0.03,0.00,0.09,0.12,0.03
3,3,3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,...,1.17,1.14,-0.54,1.68,2006,0.29,0.22,0.06,0.96,0.13
4,4,4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,...,0.89,1.98,0.24,1.74,2006,0.00,0.16,0.03,1.04,0.00

In [518]:
# function to remove non-ASCII 
def remove_all_but_letters_and_space(text): 
    return ''.join(i for i in text if ((ord(i) >= 65 and ord(i) <= 122) or ord(i) == 32))

ted_data['description'] = ted_data['description'].apply(remove_all_but_letters_and_space)

In [519]:
ted_data['title'] = ted_data['title'].apply(remove_all_but_letters_and_space)

In [520]:
def get_len(text):
    return len(text)

l = ted_data['title'].apply(get_len)
max(l)

646

In [521]:
#extract the related ids from 'related_talks' create a new table from it and remove column

#pass in list of strings and return the id that comes after 'id' string
def get_id_number(d):
    ids_list = list()
    is_id = False
    for word in d:
        if is_id:
            ids_list.append(word.strip(','))
            is_id = False
        if "'id'" in word:
            is_id = True
    
    return ids_list
   
    
new_table_dict = {}

for i in range(0, len(ted_data)):
    words = ted_data.iloc[i]['related_talks'].split()
    ids_ = get_id_number(words)
    new_table_dict[ted_data.iloc[i]['talk_id']] = list(ids_)

In [522]:
occs = ted_data.iloc[0]["speaker_occupation"].split(";")
l = ted_data["speaker_occupation"].apply(lambda x: x.replace(";", ",").split(","))
l
df_sp = pd.DataFrame(columns=['main_speaker', 'speaker_occupation'])

for i in range(0, len(l)):
        key = ted_data.iloc[i]["main_speaker"]
        for occ in l[i]:
            df2 = pd.DataFrame([[key,occ]], columns=['main_speaker', 'speaker_occupation'])
            df_sp = pd.concat([df_sp, df2])

In [523]:
df_sp.to_csv("final tables\speaker_occs.csv", index=False)

In [524]:
df = pd.DataFrame(columns=['talk_id', 'related_talk_id']) 

for key,val in new_table_dict.items():
    #print(val)
    for i in range(0, len(val)):
        #print(val[i])
        df2 = pd.DataFrame([[key,val[i]]], columns=['talk_id', 'related_talk_id'])
        df = pd.concat([df, df2])
    #print(type(df))
    #break

df.head()
#df.to_excel("Ted_talks_related")

  talk_id related_talk_id
0       0             865
0       0            1738
0       0            2276
0       0             892
0       0            1232

In [525]:
#with ExcelWriter('path_to_file.xlsx') as writer:
 #   df.to_excel(writer)
df.to_csv("final tables\Ted_talks_related.csv", index=False)

In [526]:
#import re
#df_tags = pd.DataFrame(columns=['talk_id', 'tag']) 
#for i in range(0, len(ted_data)):
#    for tags in ted_data['tags'].iloc[i].strip("[]").split(","):
 #       id_ = ted_data['index'].iloc[i]
  #      for tag in tags:
   #         df2 = pd.DataFrame([[id_,tag]], columns=['talk_id', 'tag'])
    #        df_tags = pd.concat([df_tags, df2])
#df_tags.head()

In [527]:
#create data frame for id to tag
df_tags = pd.DataFrame(columns=['talk_id', 'tag']) 
for i in range(0, len(ted_data)):
    id_ = ted_data['talk_id'].iloc[i]
    #print(ted_data['tags'].iloc[i].strip("[]").replace("'", "").split(","))
    
    for tag in ted_data['tags'].iloc[i].strip("[]").split(","):
        
        df2 = pd.DataFrame([[id_,tag.replace("\'", "")]], columns=['talk_id', 'tag'])
        df_tags = pd.concat([df_tags, df2])
        
df_tags.head()

  talk_id          tag
0       0     children
0       0   creativity
0       0      culture
0       0        dance
0       0    education

In [528]:
df_tags.to_csv("final tables/tags.csv", index=False)

In [529]:
#Need to add some in future

In [530]:
#remove our list of unwanted columns
col_names = ["name", "description", "tags","speaker_occupation","url", "related_talks", "music", "conversation", "Unnamed: 0", "transcript", "ratings", "transcript_1sthalf", "transcript_2ndhalf","transcript_1q", "transcript_2q", "transcript_3q", "transcript_4q" ]
del_comments = list()
for c in col_names:
    if c in ted_data.columns: 
        del_comments.append(c)
        ted_data = ted_data.drop(columns = [c]);
        
print("".join([i + ", " for i in del_comments]))

name, description, tags, speaker_occupation, url, related_talks, music, conversation, Unnamed: 0, transcript, ratings, transcript_1sthalf, transcript_2ndhalf, transcript_1q, transcript_2q, transcript_3q, transcript_4q,

In [531]:
list(ted_data.columns)

['talk_id',
 'comment_num',
 'duration',
 'talk_event',
 'film_date',
 'talk_languages',
 'main_speaker',
 'published_date',
 'title',
 'view_count',
 'persuasive',
 'inspiring',
 'unconvincing',
 'applause',
 'laughter',
 'norm_persuasive',
 'norm_inspiring',
 'norm_unconvincing',
 'word_count',
 'Analytic',
 'Clout',
 'Authentic',
 'Tone',
 'WPS',
 'Sixltr',
 'Dic',
 'function_words',
 'pronoun',
 'ppron',
 'i',
 'we',
 'you',
 'shehe',
 'they',
 'ipron',
 'article',
 'prep',
 'auxverb',
 'adverb',
 'conj',
 'negate',
 'verb',
 'adj',
 'compare',
 'interrog',
 'number',
 'quant',
 'affect',
 'posemo',
 'negemo',
 'anx',
 'anger',
 'sad',
 'social',
 'family',
 'friend',
 'female',
 'male',
 'cogproc',
 'insight',
 'cause',
 'discrep',
 'tentat',
 'certain',
 'differ',
 'percept',
 'see',
 'hear',
 'feel',
 'bio',
 'body',
 'health',
 'sexual',
 'ingest',
 'drives',
 'affiliation',
 'achieve',
 'power_words',
 'reward',
 'risk',
 'focuspast',
 'focuspresent',
 'focusfuture',
 'relativ',
 'motion',
 'space_var',
 'time_var',
 'work',
 'leisure',
 'home',
 'money_words',
 'relig',
 'death',
 'informal',
 'swear',
 'netspeak',
 'assent',
 'nonflu',
 'filler',
 'AllPunc',
 'Period_words',
 'Comma',
 'Colon',
 'SemiC',
 'QMark',
 'Exclam',
 'Dash',
 'Quote',
 'Apostro',
 'Parenth',
 'OtherP',
 'Moral',
 'HarmVirtue',
 'HarmVice',
 'FairnessVirtue',
 'FairnessVice',
 'IngroupVirtue',
 'IngroupVice',
 'AuthorityVirtue',
 'AuthorityVice',
 'PurityVirtue',
 'PurityVice',
 'MoralityGeneral',
 'affect_1h',
 'posemo_1h',
 'negemo_1h',
 'anx_1h',
 'anger_1h',
 'sad_1h',
 'affect_2h',
 'posemo_2h',
 'negemo_2h',
 'anx_2h',
 'anger_2h',
 'sad_2h',
 'affect_1q',
 'posemo_1q',
 'negemo_1q',
 'anx_1q',
 'anger_1q',
 'sad_1q',
 'affect_2q',
 'posemo_2q',
 'negemo_2q',
 'anx_2q',
 'anger_2q',
 'sad_2q',
 'affect_3q',
 'posemo_3q',
 'negemo_3q',
 'anx_3q',
 'anger_3q',
 'sad_3q',
 'affect_4q',
 'posemo_4q',
 'negemo_4q',
 'anx_4q',
 'anger_4q',
 'sad_4q',
 'posemo_change_h',
 'negemo_change_h',
 'affect_change_h',
 'posemo_change_q',
 'negemo_change_q',
 'affect_change_q',
 'published_year',
 'Harm',
 'Fairness',
 'Purity',
 'Ingroup',
 'Authority']

In [532]:
ted_data.to_csv("TED_data.csv", index=False)

In [7]:
Talk_fact_dim = ["talk_id", "talk_languages", "title"]
ted_data[Talk_fact_dim].to_csv("final tables/talk_fact_dim.csv", index=False)

In [52]:
from datetime import datetime

def timestampe_to_datetime(timest):
    d = datetime.utcfromtimestamp(timest).strftime('%Y-%m-%d').split('-')
    ts = pd.Timestamp(d[0] + "-" + d[1] + "-" + d[2], tz=None)
    print(ts.to_pydatetime())
    return ts.to_pydatetime()
    #print(d)
    #dt = datetime(int(d[0]), int(d[1]), int(d[2]))

#Talk_meta_data_dim = ["talk_id", "WC", "comment_num","duration", "talk_event", "film_date", "main_speaker", "published_date","view_count"]
#ted_data['film_date'] = ted_data['film_date'].apply(timestampe_to_datetime)
ted_data['film_date'].dtype
#ted_data.to_pydatetime()
#ted_data['published_date'] = ted_data['published_date'].apply(timestampe_to_datetime)
type(ted_data['film_date'].iloc[0])
#ted_data[Talk_meta_data_dim].to_csv("final tables/talk_meta_data_dim.csv", index=False)

pandas._libs.tslibs.timestamps.Timestamp

In [535]:
User_ratings = ["talk_id", "persuasive", "inspiring", "unconvincing","applause", "laughter","norm_persuasive", "norm_inspiring", "norm_unconvincing"]
ted_data[User_ratings].to_csv("final tables/user_ratings.csv", index=False)

In [537]:
Linguistic_score_table = ["talk_id", "Analytic", "Clout", "Authentic", "Tone", "WPS", "Sixltr", "Dic", "function_words", "pronoun", "ppron", "i", "we", "you", "shehe", "they", "ipron", "article", "prep", "auxverb", "adverb", "conj", "negate", "verb", "adj", "compare", "interrog", "number", "quant", "affect", "posemo", "negemo", "anx", "anger", "sad", "social", "family", "friend", "female", "male", "cogproc", "insight", "cause", "discrep", "tentat", "certain", "differ", "percept", "see", "hear", "feel", "bio", "body", "health", "sexual", "ingest", "drives", "affiliation", "achieve", "power_words", "reward", "risk", "focuspast", "focuspresent", "focusfuture", "relativ", "motion", "money_words", "time_var", "work", "leisure", "home", "relig", "death", "informal", "swear", "netspeak", "assent", "nonflu", "filler", "AllPunc", "Period_words", "Comma", "Colon", "SemiC", "QMark", "Exclam", "Dash", "Quote", "Apostro", "Parenth", "OtherP", "Moral", "HarmVirtue", "HarmVice", "FairnessVirtue", "FairnessVice", "IngroupVirtue", "IngroupVice", "AuthorityVirtue", "AuthorityVice", "PurityVirtue", "PurityVice", "MoralityGeneral", "affect_1h", "posemo_1h", "negemo_1h", "anx_1h", "anger_1h", "sad_1h", "affect_2h", "posemo_2h", "negemo_2h", "anx_2h", "anger_2h", "sad_2h", "affect_1q", "posemo_1q", "negemo_1q", "anx_1q", "anger_1q", "sad_1q", "affect_2q", "posemo_2q", "negemo_2q", "anx_2q", "anger_2q", "sad_2q", "affect_3q", "posemo_3q", "negemo_3q", "anx_3q", "anger_3q", "sad_3q", "affect_4q", "posemo_4q", "negemo_4q", "anx_4q", "anger_4q", "sad_4q", "posemo_change_h", "negemo_change_h", "affect_change_h", "posemo_change_q", "negemo_change_q", "affect_change_q", "published_year", "Harm", "Fairness", "Purity", "Ingroup", "Authority"]
ted_data[Linguistic_score_table].to_csv("final tables/Linguistic_score_table.csv", index=False)

In [ ]:
",".join(ted_data.columns)